@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fonte-padrao: "Open Sans", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte-padrao);
}

body {
    background-color: #FFC322;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #FFFA21;
}

#cabecalho {
    position: relative;
}

#banner {
    width: 100%;
    height: 350px;
}

#container-titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    max-width: 125px;
}

#biografia {
    text-align: center;
    padding: 10px;    
}

#biografia > h1 {
    color: white;
    font-weight: bold;
    border-top: 1px solid white;
}

#biografia > p {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: justify;
    color: black;
}

#discografia {
    display: flex;
    flex-direction: column; 
}

#discografia > h2 {
    color: white;
    font-weight: bold;
    border-top: 1px solid white;
    text-align: center;
    margin-bottom: 15px;
}

#albums {
    text-align: center;
}

#albums > p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: justify;
}

#media {
    text-align: center;
    padding: 10px;
}

#media > h2 {
    border-top: 1px solid white;
    margin-bottom: 15px;
    color: white;
}

#datas-turne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#datas-turne > h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    border-top: 1px solid white;
}

#botao-turne {
    background-color: #FFA921;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#botao-turne:hover {
    color: #FFFA21;
}

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato h2 {
    color: white;
    margin-top: 20px;
    border-top: 1px solid white;
}

#container-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-top: 10px;
    color: white;
}

#container-formulario > form > div > label {
    width: 150px;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
}

#rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#rodape h2 {
    color: white;
    border-top: 1px solid white;
}

#redes-sociais {
    margin-top: 20px;
    margin-bottom: 20px;
}

#redes-sociais a:hover {
    color: white;
}

#redes-sociais div {
    padding: 10px 20px;
    border-radius: 5px;
}

#cor-insta, #cor-x, #cor-tiktok, #cor-spotify {
    margin: 15px;
}

#cor-insta:hover {
    background-image: linear-gradient(to bottom, #AA08F1, #FF016D, #FFAD00);
    border-radius: 5px;
    padding: 10px 20px;
    transition: .2s;
}

#cor-x:hover {
    background-color: black;
    border-radius: 5px;
    padding: 10px 20px;
}

#cor-tiktok:hover {
    background-color: black;
    border-radius: 5px;
    padding: 10px 20px;    
}

#cor-spotify:hover {
    background-color: #25D865;
    border-radius: 5px;
    padding: 10px 20px;    
}

/* Telas médias */

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
    }

    #banner {
        height: 430px;
    }

    #albums {
        text-align: center;
    }
    
    #albums > p {
        text-align: center;
    }

    #container-turne-contato {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid white;
        padding: 10px;
    }

    #datas-turne > h2 {
        border: none;
    }

    #contato > h2 {
        border: none;
    }

    #redes-sociais a {
        font-size: 1.2em;
    }
}

/* Telas Grandes */

@media screen and (min-width: 992px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    #logo {
        max-width: 150px;
    }

    #albums {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        text-align: center;
    }

    #albums img {
        width: 350px;
    }

    #albums > p {
        text-align: justify;
    }

    #redes-sociais a {
        font-size: 1.5em;
    }
}

/* Telas Muito Grandes */

@media screen and (min-width: 1886px) {
    #logo {
        max-width: 180px;
    }
    
    #albums {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}